.board {
   width: 240px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -135px;
   transform: translateY(-50%);
}

.flex{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   outline: 4px solid #ccc;
}